.about {
    margin-bottom: 55px;
}

.about__main {
    display: flex;
}

.about__main:before {
    content: "";
    width: 490px;
    height: 505px;
    background: url("./../../img/content/gates.png") center center / cover no-repeat;
}

.about__inf {
    background: url("./../../img/content/mountains.png");
    width: 785px;
    height: 455px;
    padding: 68px 80px;
    vertical-align: top;
    margin-left: -136px;
    margin-top: 97px;
} 

.about__description {
    font-size: 16px;
    margin-bottom: 43px;
    color: #000;
    min-height: 135px;
    width: 502px;
    line-height: 1.7;
    margin-bottom: 40px;
} 

.about__description p {
    margin-bottom: 20px;
}

.about__description p:last-child {
    margin-bottom: 0px;
}