.dropdown {
    position: relative;
    display: inline-block;
    color: #98A4A8;
    transition: 0.3s;
    transition: 0.3s;
}

.dropdown__schedow {
    font-size: 13px;
    text-decoration: underline;
    color: #98A4A8;
    margin-right: 2px;
    margin-top: -8px; 
    transition: 0.3s;
}

.dropdown__schedow:hover {
    text-decoration: underline;
    color: #fff;
}

.dropdown__menu {
    position: absolute;
    background: #CDD1D2;
    color: black;
    width: 157px;
    height: 65px;
    border-radius: 5px;
    top: 100%;
    left: -9999px;
    opacity: 0;
    transition: opacity .5s;
    margin-top: 10px;
    margin-left: 35px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.dropdown__menu:before {
   content: "";
   display: block;
   height: 30px;
   left: 0;
   right: 0;
   top: -29px;
   position: absolute;
}

.dropdown:hover .dropdown__menu {
    display: block;
    left: 0px;
    opacity: 1;
}

.dropdown__triangle {
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-bottom-color: #CDD1D2;
    position: absolute;
    margin-top: -20px;
    margin-left: 93px;
}

.dropdown__list {
    margin-top: 10px;
}

.dropdown__item {
    margin-bottom: 4px;
}