.separator {
    background: url("./../../img/separator/couple.png") right 25.6% bottom no-repeat, url("./../../img/separator/Rectangle.png");
    min-height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.separator__content {
    min-width: 50%;
}

.separator__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.3;
}